<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>ООО «КФ «Комус-Упаковка»»</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body style="display: none" data-bind="visible: true">
    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/Content/images/logo30.png" alt="" style="margin-left: -2em;"> ООО «КФ «Комус-Упаковка»»</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="report"><a href="#" data-bind="click: navigateToReport"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> Управление</a></li>
                    <li class="employee"><a href="#" data-bind="click: navigateToEmployee"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> Сотрудники</a></li>
                    <li class="client"><a href="#" data-bind="click: navigateToClient"><i class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></i> Партнёры</a></li>
                    <li class="product"><a href="#" data-bind="click: navigateToProduct"><i class="glyphicon glyphicon-barcode" aria-hidden="true"></i> Производство</a></li>
                    <li class="sale"><a href="#" data-bind="click: navigateToSale"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Продажи</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>
    @*<div class="wrapper container">
        <header>
            <a class="brand" href="/">ОАО АТМ-Кубань</a>
            @Html.Partial("_LoginPartial")
        </header>
        <nav class="main-menu navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="sale"><a href="#" data-bind="click: navigateToSale"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Продажи</a></li>
                <li class="product"><a href="#" data-bind="click: navigateToProduct"><i class="fa fa-barcode" aria-hidden="true"></i> Товары</a></li>
                <li class="client"><a href="#" data-bind="click: navigateToClient"><i class="fa fa-users" aria-hidden="true"></i> Покупатели</a></li>
                <li class="employee"><a href="#" data-bind="click: navigateToEmployee"><i class="fa fa-sitemap" aria-hidden="true"></i> Сотрудники</a></li>
                <li class="report"><a href="#" data-bind="click: navigateToReport"><i class="fa fa-line-chart" aria-hidden="true"></i> Отчёты</a></li>
            </ul>
        </nav>
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </div>
    <footer></footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highcharts")
    @RenderSection("Scripts", required: false)
</body>
</html>
